* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: url(../assets/images/Background.png);
    height: 805px;
    margin: 25px auto 0;
    position: relative;
    width: 664px;
}

.inner-wrapper {
    align-content: center;
    align-items: center;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

#outer-dropzone {
    border-radius: 50%;
    height: 80px;
    margin-top: 422px;
    width: 80px;
}

.dropzone {
    font-size: 14px;
    margin: auto;
    padding: 10px;
    transition: background-color 0.3s;
}

.drop-active { border-color: #aaa; }

#outer-dropzone.drop-target { background-color: rgba(255, 0, 0, 0.25); }

.drop-target {
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    height: 115px;
    left: 22%;
    position: absolute;
    bottom: 4%;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition: opacity 1s;
    width: 93px;
    height: 93px;
}

.drag-drop.crowd-icon { margin-left: 140px; }

.drag-drop.tractor-icon { margin-left: 280px; }

.box-wrapper, .box-shadow-wrapper {
    left: 0;
    margin: auto;
    perspective: 800px;
    position: absolute;
    right: 0;
    width: 260px;
    z-index: 99;
}

.box-shadow-wrapper { z-index: 0; }

.box, .box-shadow {
    height: 229px;
    margin: 50% auto 0;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -5em;
    transform: rotateX(-5deg);
    transition: all 1s;
    -webkit-transition: all 1s;
    width: 257px;
    background-color: #4c4c4c;
    background: url(/assets/images/BOX.png);
    backface-visibility: hidden;
}

.box.drop {
    margin-top: 125%;
}

.box::after, .box-shadow::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    background-color: #969696;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
}

.box::after {
    background: url(/assets/images/FLAT-TOP.png);
    background-size: cover;
    width: 96%;
    left: 2%;
    top: 3%;
}

.box-shadow {
    margin-top: 212%;
    background: transparent;
    width: 18em;
    margin-left: -1em;
    height: 12em;
}

.box-shadow::after {
    background-color: rgba(0,0,0,0.15);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.box-shadow.drop {
    width: 13em;
    height: 8em;
    margin-left: 1.7em;
    margin-top: 206%;
}

.box-shadow.drop::after { background-color: rgba(0,0,0,0.55); }

.ribbon-wrapper {
    position: absolute;
    top: 30%;
    right: 22.3%;
    z-index: 99;
}

.ribbon {
    position: relative;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 40px;
    color: #fff;
}

.ribbon .parent-span {
    position: absolute;
    z-index: 99999;
    font-size: 25px;
    width: 100%;
    letter-spacing: 0.5px;
    height: 100%;
    line-height: 39px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    font-weight: 600;
}

.ribbon span span {
    font-weight: 400;
}

.ribbon.expand .parent-span {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.ribbon::before {
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(26, 26, 26, 1);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s linear 0.2s;
}

.ribbon.expand::before { width: 100%; }

.ribbon::after {
    content: '';
    position: absolute;
    background: #4c4c4c;
    top: -1.5px;
    z-index: -1;
    right: 0;
    height: 139%;
    transform: rotateX(45deg) rotateY(18deg) scaleX(-1);
    width: 0%;
    margin-top: 7px;
    margin-right: 91.5px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.ribbon.expand::after {
    width: 40%;
    margin-top: 0px;
}