* {
    margin: 0;
    padding: 0;
}

.no-sup-msg {
    display: none;
}

.wrapper {
    background: url(../assets/images/Background.png);
    background-size: cover;
    height: 805px;
    margin: 0;
    position: relative;
    width: 665px;
}

@media all and (max-width: 664px) {
    .wrapper {
        display: none;
    }
}

.inner-wrapper {
    align-content: center;
    align-items: center;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

#outer-dropzone {
    border-radius: 50%;
    height: 70px;
    margin-top: 428px;
    width: 70px;
}

.dropzone {
    font-size: 14px;
    margin: auto;
    padding: 8px;
    transition: background-color 0.3s;
}

.drop-active { border-color: #aaa; }

#outer-dropzone.drop-target { 
    box-shadow: 0px 0px 60px 25px #FFF;
    transition: all 0.5s;
}

.drag-drop {
    height: 115px;
    left: 22%;
    position: absolute;
    bottom: 4%;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transition: opacity 1s;
    width: 93px;
    height: 93px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.drag-drop.crowd-icon { margin-left: 140px; }

.drag-drop.tractor-icon { margin-left: 280px; }


.drag-drop::after  {
    content: '';
    position: absolute;
    width: 92%;
    height: 92%;
    top: 4px;
    border-radius: 50%;
    left: 5px;
    transition: all 0.2s;
}

.drag-drop.tractor-icon::after { left: 4px; }

.drag-drop:hover::after { box-shadow: 0px 0px 55px 5px #FBCD33; }

.dragging::after { animation: flash 0.4s infinite; }

@keyframes flash {
    100% {box-shadow: 0px 0px 55px 5px #FBCD33;}
    50% {box-shadow: 0px 0px 15px 2px #FBCD33;}
    0% {box-shadow: 0px 0px 55px 5px #FBCD33;}
}

.dragging.can-drop::after {
    animation: none!important;
    box-shadow: 0!important;
}

.can-drop.jackhammer-icon.dropped {
    transition: all 0.7s!important;
    transform: translate(137.254px, -256.148px)!important;
    -webkit-transform: translate(137.254px, -256.148px)!important;
}

.can-drop.crowd-icon.dropped {
    transition: all 0.7s!important;
    transform: translate(-1.93799px, -255.425px)!important;
    -webkit-transform: translate(-1.93799px, -255.425px)!important;
}

.can-drop.tractor-icon.dropped {
    transition: all 0.7s!important;
    transform: translate(-140.324px, -256px)!important;
    -webkit-transform: translate(-140.324px, -256px)!important;
}

.box-wrapper, .box-shadow-wrapper {
    left: 0;
    margin: auto;
    perspective: 800px;
    position: absolute;
    right: 0;
    width: 260px;
    z-index: 99;
}

.box-shadow-wrapper { z-index: 0; }

.box, .box-shadow {
    height: 229px;
    margin: 50% auto 0;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-origin: 50% 50% -5em;
    -webkit-transform-origin: 50% 50% -5em;
    -ms-transform-origin: 50% 50% -5em;
    transform: rotateX(-5deg);
    -webkit-transform: rotateX(-5deg);
    -ms-transform: rotateX(-5deg);
    transition: all 1s;
    -webkit-transition: all 1s;
    width: 257px;
    background: url(../assets/images/BOX.png);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box.drop { margin-top: 125%; }

.safari-browser .box.drop { margin-top: 115%; }

.box::after, .box-shadow::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
}

.box::after {
    background: url(../assets/images/FLAT-TOP.png);
    background-size: cover;
    width: 96%;
    left: 2%;
    top: 3%;
}

.box-shadow {
    margin-top: 212%;
    background: transparent;
    width: 18em;
    margin-left: -1em;
    height: 12em;
}

.safari-browser .box-shadow {
    margin-top: 205%;
}

.box-shadow::after {
    background-color: rgba(0,0,0,0.15);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.box-shadow.drop {
    width: 14em;
    height: 8em;
    margin-left: 1em;
    margin-top: 206%;
}

.safari-browser .box-shadow.drop {
    margin-top: 200%;
}

.box-shadow.drop::after { background-color: rgba(0,0,0,0.55); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .box::after, .box-shadow::after {
        transform: none;
    }
    .box::after { 
        background: url(../assets/images/BOX-TOP.png);
        background-size: cover;
        height: 37px;
        width: 101%;
        top: -13%;
        left: -2px;
    }
    .box-shadow {
        margin-top: 143%!important;
    }
    .box-shadow::after {
        background: transparent!important;
        border-bottom: 65px solid rgba(0,0,0,0.25);
        border-right: 45px solid transparent;
        border-left: 45px solid transparent;
        width: 70%;
        bottom: 0;
    }
    .box-shadow.drop {
        background: transparent;
        width: 12em;
        height: 11em;
        margin-left: 1em;
    }
    .box-shadow.drop::after {
        border-bottom: 55px solid rgba(0,0,0,0.55);
    }
}

.ribbon-wrapper {
    position: absolute;
    top: 30%;
    right: 22.3%;
    z-index: 99;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.ribbon {
    position: relative;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 40px;
    color: #fff;
}

.ribbon .parent-span {
    position: absolute;
    z-index: 99999;
    font-size: 25px;
    width: 100%;
    letter-spacing: 0.5px;
    height: 100%;
    line-height: 39px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    font-weight: 600;
}

.ribbon span span { font-weight: 400; }

.ribbon.expand .parent-span {
    opacity: 1;
    transition: opacity 0.5s linear 0.5s;
}

.expand.remove-expand .parent-span {
    opacity: 0;
    transition: opacity 0.3s linear!important;
}

.ribbon::before {
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(26, 26, 26, 1);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s linear 0.2s;
}

.ribbon.expand::before { width: 100%; }

.expand.remove-expand::before {
    width: 0%;
    transition: width 0.2s linear 0.2s;
}

.ribbon::after {
    content: '';
    position: absolute;
    background: #4c4c4c;
    top: -1.5px;
    z-index: -1;
    right: 0;
    height: 139%;
    -webkit-transform: rotateX(45deg) rotateY(18deg) scaleX(-1);
    -ms-transform: rotateX(45deg) rotateY(18deg) scaleX(-1);
    transform: rotateX(45deg) rotateY(18deg) scaleX(-1);
    width: 0%;
    margin-top: 7px;
    margin-right: 91.5px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.ribbon.expand::after {
    width: 40%;
    margin-top: 0px;
}

.expand.remove-expand::after {
    width: 0%;
    margin-top: 7px;
    transition: all 0.2s linear 0.4s;
    -webkit-transition: all 0.2s linear 0.4s;
}

/* SAFARI RIBBON FIX */
.safari-browser .parent-span {
    -webkit-transform: translateZ(1000px);
}

.safari-browser .ribbon::before {
    -webkit-transform: translateZ(1000px);
}

.safari-browser .ribbon::after {
    top: -1px;
    height: 146%;
    right: -9%;
}

.safari-browser .ribbon.expand::after {
    width: 49%;
}

.safari-browser .expand.remove-expand::after {
    margin-top: 0px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.ribbon-wrapper.drop { top: 55%; }

.cant-drag {
    width: 100%;
    height: 28%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.cant-drag.on { display: block; }